{% extends 'admin/admin.html.twig' %}

{% block body %}
    <h1>Toutes les recettes en moins d'une heure</h1>

    <p>
        <a class="btn btn-primary" href="{{ path('admin.recipe.create') }}">Nouvelle Recette</a>
    </p>

    <table class="table">
        <thead>
        <tr>
            <th>Titre</th>
            <th>Durée</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for recipe in recipes %}
            <tr>
                <td>
                    <a href="{{ path('admin.recipe.show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
                </td>
                <td>{{ recipe.duration }}</td>
                <td>
                    <div class="d-flex gap-1">
                        <a class="btn btn-primary btn-sm" href="{{ url('admin.recipe.edit', {id: recipe.id}) }}">Modifier</a>
                        <form action="{{ path('admin.recipe.remove', {id: recipe.id}) }}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

{% endblock %}
