{{ form_start(form) }}

{{ form_row(form.title) }}
{{ form_row(form.duration) }}
{{ form_row(form.content, { 'attr': {'rows': '5'} }) }}

{{ form_errors(form) }}

<button type="submit" class="btn btn-primary">Save</button>

{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}